 body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
}
header{
    height: 65px;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: black;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.cara{
    border-radius: 500px;
    height: 200px;
}
.uno{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100vh - 65px);
    background-color: #424242;
    color: white;
    /* padding-top: 10%; */
}
.caja-central{
    margin-top: 10%;
    width: 50%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    height: 50%;
}
.caja-cara{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #1b5a84;
}
.caja-presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #F2F2F2;
    color: #303030;
    padding: 10px;
    text-align: center;
    line-height: 25px;

}


.dos{
    background-color: #F2F2F2;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    line-height: 25px;
    color: #303030;
    padding-left: 20%;
    padding-right: 20%;
}
.sob{
    margin-top: 50px;
}
.aptitudes{
    width: 50%;
}
.tech-list{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.tech{
    height: 90px;
}

.cursos{
    margin-top: 50px;
}

.tres{
    background-color: #303030;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: #F2F2F2;
}
.proyectos{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.card{
    text-align: center;
    width: 30%;
    border: solid #F2F2F2 1px;
    border-radius: 10px;
    padding: 10px;
}
.card img{
    width: 100%;
}
.card a, footer a {
    color: white;
}

.red-social{
    height: 40px;
    border-radius: 10px;
}

footer{
    background-color: #424242;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #F2F2F2;
    height: 150px;
}
.contacto{
    width: 30%;
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px) {
    .caja-central{
        width: 90%;
        height: 70%;
        flex-direction: column;
    }
    .caja-cara{
        width: 100%;
        height: 50%;
    }
    .caja-presentacion{
        width: 100%;
        height: 50%;
        align-items: flex-start;
    }
    .aptitudes{
        width: auto;
    }
    .dos{
        height: auto;
        padding: 0 10px 10px 10px;

    }
    .tres{
        height: auto;
    }
    .proyectos{
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .card{
        width: 80%;
        margin-top: 20px;
    }
    .red-social{
        margin: 0 10px 0 10px;
    }
}