@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200;300;400;500;600;700&display=swap');
* {
    font-family: 'KoHo', sans-serif;
}

body {
    background-image: url(/assets/img/fondo2.jpg);
    background-size: cover;
    }

.lengu {
    font-size: 2em;
}

.h1 {
    font-size: 5em;
}

.bg-asd {
    background-color: rgba(157, 189, 240, 0.769);
}


/* .asd {
    height: auto;
    width: 100%;
    max-width: 600px;
} */