@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200;300;400;500;600;700&display=swap');
* {
    font-family: 'KoHo', sans-serif;
}

body {
    background: #8360c3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

.lengu {
    font-size: 2em;
}

.h1 {
    font-size: 5em;
}

.bg-asd {
    background-color: rgba(157, 189, 240, 0.769);
}
